---
import Layout from "../layouts/layout.astro";
---

<Layout title="This is Nuri">
  <h1>The Light Inside</h1>
  <p>Music as a mirror of the inner light.</p>

  <nav>
    <a href="#">Listen</a>
    <a href="#">Watch</a>
    <a href="#">About</a>
  </nav>
</Layout>
